html {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
body {
  text-align: center;
  background-color: #b03838;
  padding: 20px;
}

#container {
  width: 300px;
  margin: 0 auto;
  background-color: #14666f;
  padding: 20px;
  border: 1px solid #acaaa8;
  box-shadow: 5px 10px 11px gray;

}

#logo {
  width: 250px;
  height: 200px;
  margin: 0 auto;

}

#titolo {
  font-size: 24px;
  margin-top: 10px;
  color: white;
}

#sotto-titoli {
  margin-top: 20px;
}

#sotto-titoli a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
main {
  background-color: white;
  box-shadow: 0 3px 3px gray;
  padding: 2em 1em;
  margin-bottom:1.5em ;
}
section { 
  background-color: white;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: darkgray;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p, address, ul, ol, dl, blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #9e9595;
}
ul, ol {
  margin-left: 2em;
}
a {
  color: #0c89a9;
  font-weight: bold;
}
strong {
  color: #84215e;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #7e7a7a;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th, td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
